  <!DOCTYPE html>
<html lang="es">
<head>
	<title>Hero Sound</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	<style type="text/css">
 		.jumbotron{
 			height: auto;
 			background-image: url('img/PortadaHeroSoundRecs.jpg');
 				background-size: cover;
 				background-position: center;
 			margin-bottom: 0px;
 		}
 		@font-face{
 			font-family: closeness;
 			src: url("fonts/closeness.ttf");
 		}
 		.display-4{
 			font-family: closeness;
 			
 		}
 		a{
 			margin-top: 500px;
 			margin-left: 1200px;
 		}
 	</style>
</head>
<body>

	<div class="jumbotron">
  		<h1 class="display-4">¡Bienvenidos!</h1>
    	<a class="btn btn-primary btn-lg" href="Inicio" role="button">Navegar</a>
	</div>

</body>
</html>